<div class="container">
  <h4>Readers</h4>
  <table class="table table-bordered m-3 text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      @for(reader of readers; track reader.id){
      <tr>
        <td>
          {{ reader.id }}
        </td>
        <td>{{ reader.name }}</td>
        <td>
          <button class="btn btn-primary" (click)="readerDetails(reader.id)">
            Details
          </button>
          <button class="btn btn-danger m-3" (click)="deleteUser(reader.id)">
            Delete User
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div class="d-flex">
    <button class="btn btn-primary m-3" (click)="addUser()">Add User</button>
  </div>
</div>
