<div class="container">
  <h4>Reader Details</h4>
  <table class="table table-bordered m-3">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">BooksIssued</th>
        <th scope="col">HoursRead</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ reader.id }}</td>
        <td>{{ reader.name }}</td>
        <td>{{ reader.booksIssued }}</td>
        <td>{{ reader.hoursRead }}</td>
      </tr>
    </tbody>
  </table>
</div>
